.b1{
    width: 200px;
    height: 50px;
}
.iframe{
    border: 2px solid black;
}
.form{
    margin-top: 10px;
}
.feed2{
    width: auto;
    height: auto;
    margin-top: 20px;
}
.feed1{
    width: auto;
    height: auto;
 
}